# GEMINI_API_KEY: Chave da API Gemini.
GEMINI_API_KEY="SUA_CHAVE_AQUI"

# SUPABASE_URL: URL do seu projeto Supabase.
NEXT_PUBLIC_SUPABASE_URL="https://seu-projeto.supabase.co"

# SUPABASE_ANON_KEY: Chave anônima do seu projeto Supabase.
NEXT_PUBLIC_SUPABASE_ANON_KEY="sua-chave-anonima"

# CHATWOOT_API_URL: URL da sua instância (ex: https://app.chatwoot.com)
CHATWOOT_API_URL="https://app.chatwoot.com"

# CHATWOOT_ACCESS_TOKEN: Seu token de acesso (Perfil -> Token de Acesso)
CHATWOOT_ACCESS_TOKEN="seu-token-aqui"

# CHATWOOT_API_KEY: Seu User Access Token (Perfil -> Configurações de Perfil -> Access Token)
CHATWOOT_API_KEY=""
CHATWOOT_BASE_URL="https://chat.soscentral.cloud"
CHATWOOT_ACCOUNT_ID="1"

# CHATWOOT_WEBSITE_TOKEN: Token do canal de Chat (Configurações -> Canais -> Selecione o Chat -> Configurações)
NEXT_PUBLIC_CHATWOOT_WEBSITE_TOKEN=""
